body {
  background-image: url("/static/img/star_tile.jpg");
  position: relative;
}

.holder {
  width: 99.1%;
  height: 98.5%;
  position: fixed;
  overflow: scroll;
}

.header {
  background-color: #FFE4CD;
  border: 4px double #D22204;
  width: 95%;
  height: 20%;
  margin: 30px auto;
  text-align: center;
  font-family: 'Cormorant SC', serif;
}

.main {
  background-color: #FFE4CD;
  border: 4px double #D22204;
  width: 95%;
  height: 60%;
  margin: 30px auto;
  font-family: 'Cormorant SC', serif;
}

table {
  width:90%;
  height: 80%;
  margin: 10px auto 20px auto;
}

td {
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  border: 1px solid #D22204;
  border-radius: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

p {
  line-height: 80%;
}

h1 {
  line-height: 90%;
}

#registry {
  text-align: center;
  padding: 50px auto;
}

a:link {
  color: #D22204;
  font-weight: bold;
}

a:hover {
  font-weight: lighter;
}