body {
  background-image: url("/static/img/star_tile.jpg");
  position: relative;
}

.holder {
  width: 99.1%;
  height: 98.5%;
  position: fixed;
  overflow: scroll;
}

/*.header {*/
  /*background-color: #FFE4CD;*/
  /*border: 4px double #D22204;*/
  /*width: 95%;*/
  /*height: 20%;*/
  /*margin: 30px auto;*/
  /*text-align: center;*/
  /*font-family: 'Cormorant SC', serif;*/
/*}*/
/*
.main {
  background-color: #FFE4CD;
  border: 4px double #D22204;
  width: 95%;
  height: 60%;
  margin: 30px auto;
  font-family: 'Cormorant SC', serif;
}
*/
.wrapper {
  background-color: #FFE4CD;
  border: 4px double #D22204;
  margin: 50px auto;
  padding: 20px 0px;
  width: 95%;
  height: 60%;
  font-family: 'Cormorant SC', serif;

}

.wrappette {
  background-color: ivory;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  justify-items: center;
  box-sizing: border-box;
  margin: 10px 30px;
  padding: 5px 30px;
  border: 2px dashed gold;
}

.box1 {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
}

.box2 {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}

.box3 {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
}

.box4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  font-weight: bolder;
  color: #D22204;
  justify-self: center;
}

#content {
  background-color: #FFE4CD;
  border: 4px double #D22204;
  margin: 50px auto;
  padding: 20px 0px;
  width: 95%;
  height: 60%;
  font-family: 'Cormorant SC', serif;
  box-sizing: border-box;
}

.subwrap {
  background-color: ivory;
  margin: 10px 30px;
  padding: 5px 40px;
  text-align: center;
  border: 2px dashed gold;
}

.textblock {
  margin: 1px 100px;
  text-align: justify;
}

.hotel {
  line-height: 10%;
}

.inlineLink {
  text-decoration: none;
  font-weight: normal;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

td {
  text-align: center;
}

img {
  width: 250px;
  height: 250px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

p {
  line-height: 110%;
  font-family: 'PT Sans', serif;
}

h1 {
  line-height: 90%;
}

#registry {
  text-align: center;
  padding: 50px auto;
}

a:link {
  color: #D22204;
  text-decoration: none;
}

a:hover {
  font-weight: lighter;
}

a:visited {
  color: #d22204;
}